.category {
  display: flex;
  width: 180px;
  height: 180px;
  border: 1px solid lightgray;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
}

.categoryIcon {
  margin-bottom: 20px;
  position: relative;
  height: 50%;
  width: 50%;
}
