.categoryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: center;
  border-top: 1px solid lightgray;
  padding-top: 30px;
  margin-top: -22px;
}

.categoriesHeader {
  border-bottom: 1px solid green;
  padding-bottom: 15px;
  width: fit-content;
  position: relative;
}

@media (min-width: 480px) {
  .categoryContainer {
    max-width: 420px;
  }
}

@media (min-width: 1312px) {
  .categoryContainer {
    max-width: max-content;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
  }
}
