.categoryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: center;
  border-top: 1px solid lightgray;
  padding-top: 30px;
  margin-top: -22px;
}

.categoriesHeader {
  border-bottom: 1px solid green;
  padding-bottom: 15px;
  width: fit-content;
  position: relative;
}

.category {
  display: flex;
  width: 200px;
  height: 200px;
  border: 1px solid lightgray;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
}

.categoryIcon {
  margin-bottom: 20px;
  position: relative;
  height: 50%;
  width: 50%;
}
